* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #222;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px black;
    border-bottom: 1px solid white;
}
.container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.setting {
    position: relative;
    border-right: 1px solid white;
}

.setting .child {
    position: relative;
    width: auto;
    height: auto;
    margin: 25px 10%;
    border: 1px solid white;
    border-radius: 10% 10%;
    text-align: center;
}
.setting .child p {
    display: inline-block;
    color: white;
    font-size: 1.2em;
}
.setting .button p {
    margin: 0.5em;
    font-size: 1.5em;
}
.setting .location input {
    width: 50%;
}
.setting .speed p {
    margin: 10%;
}
.setting .speed input {
    width: 50%;
}

.playground {
    position: relative;
}
.playground .circle {
    position: absolute;
    outline: 1px solid white;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}